#contactsCard{

    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(-45deg, rgb(228, 228, 228), #f3f3f3);
}

.contact{

    width: 90%;
    height: 30%;
    font-size: 30px;
    font-family: monospace;
    padding: 16px;
    margin: 10px;
    color:  rgb(70, 66, 66);  
    margin: auto;
}