
.card{
    width: 70%;
    height: 50%;
    box-shadow: 0 3px 6px 0 rgb(141, 136, 136), 0 6px 20px 0 grey;
    margin: auto;
}

#welcome{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(-45deg, rgb(228, 228, 228), #f3f3f3);
}

#span{

   font-size: 30px;
   font-family: monospace;
   font-weight: bold;
   color:  rgb(70, 66, 66);  
}

