html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

#title{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    animation-name: example;
    animation-duration: 3s;

}

@keyframes example {
    from {
        scale: 1;
        color: white;
    }
    to {
        scale: 1.5;
        color: rgb(40, 38, 38);}
  }