html{
    width: 100%;
    height: 100%;
}

body{
    overflow: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background: linear-gradient(-45deg, #052f2f,#350536, #2d043a);
}

#splash{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0px;
    background: linear-gradient(-45deg, #5760d9,#3a5ccd, #1d1481);
}

#title{
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    animation: 2s ease-out 0s 1  alphaAnim;
    transition: 0.8s ease-in-out
}

#next{
    width: 27px;
    height: 27px;
    background: white;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    animation: 2s ease-out 0s 1  slideInFromLeft;
    transition: 0.5s ease-in-out
}

#next:hover{
    filter: invert(80%);
    scale: 0.8;
}

@keyframes alphaAnim {
    0% {
        opacity: 0%;

    }
    100% {
        opacity: 100%;
    }
  }

  @keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
}


#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
   /* background: linear-gradient(-45deg, #f3f3f8,#e8ebf5, #efeff4);*/
   /*background: linear-gradient(-45deg, rgb(228, 228, 228), #f3f3f3);*/
   background-image: url('./icons/rm380-10.jpg');

}

#topBar{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(52, 49, 49);
    box-shadow: 5px 1px 2px #353537;
    overflow-x: auto;
    overflow-y: hidden;
}

.topItem{
    text-align: center;
    font-size: 18px;
    color: #f7f8fd;
    padding: 6px;
    display: flexbox;
    font-family: monospace;
    margin-left: 5%;
    margin-right: 5%;
    user-select: none;
    white-space: nowrap;
    
}

.topItem:hover{
    color: gray;

}


.topItem.active{
    color: #5760d9;
    font-weight: bold;
}


.screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    justify-items: center;
}
