#title{
    font-size: 85px;
}

#splash{
    flex-direction: column;
}


#next{
    width: 55px;
    height: 55px;
    rotate: 0deg;
}


.topItem{
    text-align: center;
    font-size: 28px;
    color: #f7f8fd;
    padding: 6px;
    font-family: monospace;
    margin-left: 5%;
    margin-right: 5%;
    user-select: none
}

#topBar{
    overflow-x: scroll;
}


#welcome{
    width: 90%;
    height: 35%;
}

#myCard{
    
    width: 90%;
    height: auto;
    padding: 20px;
}

#skillsCard{
    
    width: 90%;
    height: auto;
    padding: 15px;
}

.skillIcon{

    width: 50px;
    height: 50px;
}

.skillTitle{

    width: 100%;
    display: flex;
    font-size: 30px;
    font-family: monospace;
    padding: 16px;
    color:  rgb(70, 66, 66);  
}

.outerProg{

    height: 34px;
    width: 190px;
    background-color: lightgray;
}

.innerProg{

    height: 34px;
    width: 65%;
    color: #e0dede;
    font-size: 20px;
    font-family: monospace;
    align-content: center;
    background-color: gray;
}


#projectsCard{

    width: 60%;
    height: auto;
    padding: 15px;
}












/* Custom Mobile Nav CTA Button */
.header-menu-cta a {
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1em !important;
    text-transform: uppercase;
    line-height: 1.2em !important;
    font-size: 1rem;
    color: #00CC99 !important;
    }

    .mobile-nav .show-nav {
        display: block;
        padding: 1em 40px;
        color: #fff;
        background: #000; 
        cursor: pointer;
        border-bottom: 1px solid #000;
    }