#title{
    font-size: 85px;
}

#splash{
    flex-direction: column;
}


#next{
    width: 55px;
    height: 55px;
    rotate: 0deg;
}


.topItem{
    text-align: center;
    font-size: 28px;
    color: #f7f8fd;
    padding: 6px;
    font-family: monospace;
    margin-left: 5%;
    margin-right: 5%;
    user-select: none
}





/* Custom Mobile Nav CTA Button */
.header-menu-cta a {
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1em !important;
    text-transform: uppercase;
    line-height: 1.2em !important;
    font-size: 1rem;
    color: #00CC99 !important;
    }

    .mobile-nav .show-nav {
        display: block;
        padding: 1em 40px;
        color: #fff;
        background: #000; 
        cursor: pointer;
        border-bottom: 1px solid #000;
    }