#myCard{
    
    width: 60%;
    height: auto;
    padding: 20px;
    background: linear-gradient(-45deg, rgb(228, 228, 228), #f3f3f3);
}


#pfp{

    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-width: 4px;
    margin: 10px;
    border:solid rgb(52, 49, 49);
}

#name{
    
   font-size: 27px;
   font-family: monospace;
   font-weight: normal;
   padding: 20px;
   color:  rgb(52, 49, 49);  
}

.about{
    
    font-size: 15px;
    font-family: monospace;
    font-weight: normal;
    white-space: pre-line;
    color:  rgb(70, 66, 66);  
 }